extends layout

block content
  link(rel="stylesheet", href="/stylesheets/member_t.css")
  .container-fluid
    nav.navbar.navbar-expand-lg.bg-body-tertiary.mb-3
      .container-fluid
        a.navbar-brand(href='/t') U-U
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              p.text-center.m-2 #{title}
            
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li#beTeacher.nav-item
              a.nav-link(href='/') 探索
            li.nav-item
              a.nav-link(href='/') 當學生一下
            li.nav-item 
              a.btn.btn-outline-dark.w-100(href="/auth/logout")| 登出
    .row.py-2.px-4.mb-4
      .col-sm-1.d-flex.align-items-center
        h5#semester.m-0 
      .col-sm-3.d-flex.align-items-center
        button#semesters.btn.dropdown-toggle.btn-outline-dark.me-2(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' style="width: 50%;")| 課程學期
          ul.dropdown-menu
        button.btn.btn-outline-dark.me-2(href="/auth/logout" style="width: 50%;" data-bs-toggle='modal' data-bs-target='#addSemesterModal')| 新增學期
        #addSemesterModal.modal.fade(tabindex='-1' aria-labelledby='addSemesterModal' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h1#exampleModalLabel.modal-title.fs-5 新增學期
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label 學期
                  input#semesterInput.form-control(type='text')
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 取消
                button.btn.btn-primary(type='button' onclick="addSemester()") 儲存
        button.btn.btn-outline-dark(href="/auth/logout" style="width: 50%;" data-bs-toggle='modal' data-bs-target='#shareSemesterModal' onclick="fetchSemesterCode()")| 分享學期
        #shareSemesterModal.modal.fade(tabindex='-1' aria-labelledby='shareSemesterModal' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h1#exampleModalLabel.modal-title.fs-5 分享學期
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label.light 學期代碼
                  h2#semesterCode
    div.row.justify-content-center.px-4
      div#lesson-list.col-sm-12.border.border-1.border-light-subtle.rounded-3.px-2.py-3
        div.row.w-100.m-0
          .col-sm-2
            .row.d-flex.mb-3
              .col 
                h5 教學單元
              .col.p-0
                button.btn.btn-outline-dark(type='button' data-bs-toggle='modal' data-bs-target='#addLessonModal')| 新增單元
                #addLessonModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h1#exampleModalLabel.modal-title.fs-5 新增單元
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                      .modal-body
                        .mb-3
                          label.form-label(for='l-name') 教學單元
                          input#l-name.form-control(type='text')
                        .mb-3
                          div.form-label
                            span.me-3 教材上傳(Optional)
                            button.btn.btn-outline-dark(type="button" onclick="newMetLink('addLessonModal')") 加連結
                          label.form-label(for='l-files') 檔案可多選
                          input#l-files.form-control(type='file' multiple='')
                        //- .mb-3
                        //-   label.form-label(for='l-homeworks') 
                        //-     span.me-3 作業(Optional)
                        //-     button.btn.btn-outline-dark(type="button" onclick="newHomework()") + 
                          table#l-homeworks.table.table-hover.border.border-1.border-light-subtle
                            thead
                              tr
                                th(scope='col') 
                                th(scope='col') #
                                th(scope='col') 作業說明
                            tbody
                          //- textarea#l-description.form-control(rows='3')
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 取消
                        button.btn.btn-primary(type='button' onclick="addLesson()") 儲存
            div#lesson-name-list.border.border-2.border-subtitle.rounded-4
          .col-sm-9
            h5.mb-3 單元專區
            ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
              li.nav-item.me-3(role='presentation')
                button#pills-homework-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-homework' type='button' role='tab' aria-controls='pills-homework' aria-selected='true' onclick="toggleHwMatAddBtn('hw')") 作業
              li.nav-item(role='presentation')
                button#pills-material-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-material' type='button' role='tab' aria-controls='pills-material' aria-selected='false' onclick="toggleHwMatAddBtn('mat')") 教材
              li#addHwBtn.nav-item.ms-auto(role='presentation')
                button.btn.btn-dark(type='button' data-bs-toggle='modal' data-bs-target='#addHwModal') 新增作業
                #addHwModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h1#exampleModalLabel.modal-title.fs-5 新增作業
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                      .modal-body
                        .mb-3 
                          label.form-label(for="hwName") 作業名稱
                          input#hwName.form-control(type="text", name="hwName")
                        .mb-3 
                          label.form-label(for="hwDes") 說明(Optional)
                          textarea#hwDes.form-control(name="hwDes") 
                        .mb-3
                          div.form-label
                            span.me-3 資源上傳(Optional)
                            button.btn.btn-outline-dark(type="button" onclick="newMetLink('addMatModal')") 加連結
                          label.form-label(for='hw-files-add') 檔案可多選
                          input#hw-files-add.form-control(type='file' multiple='')
                        .mb-3 
                          label.form-label(for="hwAttr") 屬性
                          select#hwAttr.form-select(name="hwAttr") 
                            option(value="p") 個人 
                            option(value="g") 團體
                        .mb-3 
                          div.form-label.d-flex
                            label.form-label.me-4(for="hwAttr") 主題
                            div.form-check.form-switch 
                              label.form-check-label(for="isCatCustom") 自訂
                              input#isCatCustom.form-check-input(type="checkbox", name="isCatCustom" role="switch")
                          select#hwAttr.form-select(name="hwAttr") 
                            option(value="p") 個人 
                            option(value="g") 團體
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 取消
                        button.btn.btn-primary(type='button' onclick="addMat()") 儲存
              li#addMatBtn.nav-item.ms-auto.d-none(role='presentation')
                button.btn.btn-dark(type='button' data-bs-toggle='modal' data-bs-target='#addMatModal') 新增教材
                #addMatModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h1#exampleModalLabel.modal-title.fs-5 新增教材
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                      .modal-body
                        .mb-3
                          div.form-label
                            span.me-3 教材上傳(Optional)
                            button.btn.btn-outline-dark(type="button" onclick="newMetLink('addMatModal')") 加連結
                          label.form-label(for='l-files') 檔案可多選
                          input#l-files-add.form-control(type='file' multiple='')
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 取消
                        button.btn.btn-primary(type='button' onclick="addMat()") 儲存
            #pills-tabContent.tab-content
              #pills-homework.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-homework-tab' tabindex='0') 
                table#homework-table.table.table-hover
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') 名稱
                      th(scope='col') 內容
                      th(scope='col') 資源
                      th(scope='col') 屬性
                      th(scope='col') 主題
                      th(scope='col') 交作業
                  tbody
              #pills-material.tab-pane.fade(role='tabpanel' aria-labelledby='pills-material-tab' tabindex='0') 
  script(src='/javascripts/member_t.js')